src/dist/
src/build/
src/*.egg-info/
**/__pycache__/

.svn/
.vscode

examples/*.log
testing/*.sh

**/OLD
**/*_old
**/*_OLD
**/*.OLD
**/*.old
**/*.bak
**/*.DEACTIVATED
**/*.SAVED
OLD
*_old
*_OLD
*.OLD
*.old
*.bak
*.DEACTIVATED
*.SAVED

**/*.sh
*.sh
_tools/

TEMP
dist
